body, h2, h3, p, ul, li { 
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    background-color:rgb(40, 40, 50);
}

header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

#hero {
    text-align: center;
    padding: 50px 20px;
    background-color: rgb(255, 204, 0);
    color: #1a1a1a;
}


.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.product img {
    max-width: 100%;
    border-radius: 8px;
}

.product:hover {
    transform: translateY(-5px);
}

.container section{
    text-align: center;
}

section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1a;
    color: white;
}